<h1>RPS</h1>

<p>
  RPSへようこそ！<br>
  beatmaniaIIDX SPのスコア力を総合的に判断し、数値化するサービスを提供しています。<br>
  ご利用にはまず<a href="http://saryou.jp/iidxpr/tri/">Play Record</a>にスコアを登録してください。<br>
  <br>
  すでにPlay Recordに登録している方は数字8桁で以下からIIDX IDを追加してください。
</p>
